{% extends 'painel/index.html' %} {% block content_active %}
<div class="ui stackable grid">
    <div class="four wide column">
        <a class="massive fluid ui button" href="/requisicoes">
            <i class="clipboard list icon"></i> Requisições
        </a>
    </div>
    <div class="four wide column">
        <a class="massive fluid ui button" href="/PedidosCompra">
            <i class="box icon"></i> Pedidos
        </a>
    </div>
    <div class="four wide column">
        <button class="massive fluid ui button">
            <i class="undo icon"></i> Devoluções</button>
    </div>
    <div class="four wide column">
        <button class="massive fluid ui button">
            <i class="dolly icon"></i> Entradas</button>
    </div>
</div>
<!-- GRÁFICOS DE VENDA AQUI -->
{% include 'operacoes/compras/pedidos/cadastro.html' %} {% endblock %}