.p-10 {
    padding: 10px !important;
}

.pt-10 {
    padding-top: 10px !important;
}

/* Customização baseada nos elementos do semantic ui */
.custom-fieldset {
    /* min-height: 330px;  */
    border-radius: .28571429rem; 
    border: 1px solid rgba(34,36,38,.15); 
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

.custom-fieldset legend {
    padding: 0 5px !important;
}