<div id="addProdutoModal" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        <i class="id card icon"></i> Cadastrar produto</div>
    <div class="content">
        <form id="form-addproduto" class="ui large form">
            <div class="ui stacked segment">
                <h4 class="ui dividing header">Dados produto</h4>
                <div class="two field">
                    <!--Dados do produto-->
                    <div class="field">
                        <label>Campo:</label>
                        <input type="text" placeholder="Informe o campo" name="campo">
                    </div>
                    <div class="field">
                        <label>Campo:</label>
                        <input type="text" placeholder="Informe o campo" name="campo">
                    </div>
                </div>
                <div class="two field">
                        <!--Dados do produto-->
                        <div class="field">
                            <label>Campo:</label>
                            <input type="text" placeholder="Informe o campo" name="campo">
                        </div>
                        <div class="field">
                            <label>Campo:</label>
                            <input type="text" placeholder="Informe o campo" name="campo">
                        </div>
                    </div>
            </div>
        <div class="actions">
            <div class="ui negative button">Cancelar</div>
            <div id="button-saveuser" class="ui positive button">Salvar</div>
        </div>
</div>