<div id="addProdutoModal" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        <i class="archive icon"></i> Cadastrar produto
    </div>
    <div class="content">
        <form id="addProdutoForm" class="ui large form">
            <!-- Difinição das Guias -->
            <div class="ui top attached tabular menu" id="menu-tabs-produtos">
                <a class="item active" data-tab="dados-produtos">Dados do Produto</a>
                <a class="item" data-tab="informacoes-fiscais">Informações Fiscais</a>
            </div>
            <!--Conteúdo da Guia Dados dos produto-->
            <div class="ui bottom attached tab segment active" data-tab="dados-produtos" style="min-height: 410px;">
                <div class="p-10">
                    <div class="field">
                        <div class="fields">
                            <div class="four wide field">
                                <label for="">Código interno:</label>
                                <input type="text" placeholder="Informe o código utilizado internamente" name="codigo">
                            </div>
                            <div class="four wide field">
                                <label>Cód. de Barras (cEAN):</label>
                                <input type="text" placeholder="Informe o cEAN" name="cean">
                            </div>
                            <div class="eight wide field">
                                <label>Descrição fiscal:</label>
                                <input type="text" placeholder="Informe a descrição fiscal" name="descricao_fiscal">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Descrição:</label>
                        <input type="text" placeholder="Informe o descrição" name="descricao">
                    </div>
                    <div class="four fields">
                        <div class="field">
                            <label>Tipo do item:</label>
                            <div class="ui search" id="select-tipo-itens">
                                <div class="ui right icon input">
                                    <input type="text" class="prompt" name="tipo_item_codigo">
                                    <i class="search icon"></i>
                                </div>
                                <div class="results"></div>
                            </div>
                            <!-- <div class="ui search selection dropdown" id="dropdown-tipo-itens">
                                <input type="hidden" name="tipo_item_codigo">
                                <div class="default text">Selecione o tipo de item</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    
                                </div>
                            </div> -->
                        </div>
                        <div class="field">
                            <label>Gênero:</label>
                            <div class="ui search" id="select-generos">
                                <div class="ui right icon input">
                                    <input type="text" class="prompt" name="genero_codigo">
                                    <i class="search icon"></i>
                                </div>
                                <div class="results"></div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Marca:</label>
                            <input type="text" placeholder="Informe a marca" name="marca">
                        </div>
                        <div class="field">
                            <label>Fabricante:</label>
                            <input type="text" placeholder="Informe o fabricante" name="fabricante">
                        </div>
                    </div>
                    <div class="three fields">
                        <div class="field">
                            <label>Ncm:</label>
                            <input type="text" placeholder="Informe o NCM" name="ncm">
                        </div>
                        <div class="field">
                            <label>Unidade:</label>
                            <div class="ui search selection dropdown" id="dropdown-unidades">
                                <input type="hidden" name="unidade_id">
                                <div class="default text">Selecione a unidade</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <!-- As unidades de medida serão listadas aqui através do JS -->
                                </div>
                            </div>
                            <!-- <input type="text" placeholder="Informe o unidade" name="unidade"> -->
                        </div>
                        <div class="field">
                            <label>Estoque mínimo:</label>
                            <input type="number" placeholder="Estoque mínimo para o produto" name="estoque_minimo">
                        </div>
                    </div>
                    <div class="three fields">
                        <div class="field">
                            <label>Preço de compra:</label>
                            <input type="text" placeholder="Informe o preço de compra" name="pc_compra">
                        </div>
                        <div class="field">
                            <label>Preço de custo:</label>
                            <input type="text" placeholder="Informe o preço de custo" name="pc_custo">
                        </div>
                        <div class="field">
                            <label>Preço de venda:</label>
                            <input type="text" placeholder="Informe o preço de venda" name="pc_venda">
                        </div>
                    </div>
                </div>
            </div>
            <!--Conteúdo da Guia Informações fiscais-->
            <div class="ui bottom attached tab segment" data-tab="informacoes-fiscais" style="min-height: 410px;">
                <div class="p-10">
                    <!-- Colocar o conteúdo aqui dentro -->
                    <fieldset id="fieldset-fisica" class="custom-fieldset">
                        <legend>Consumidor final</legend>
                        <div class="three fields">
                            <div class="field">
                                <label>Situação tributária:</label>
                                <input type="text" placeholder="Situação tributária" name="sit_tribut">
                            </div>
                            <div class="field">
                                <label>ìndice de ICMS:</label>
                                <input type="text" placeholder="índice de ICMS" name="indice_icms">
                            </div>
                            <div class="field">
                                <label>% ICMS normal:</label>
                                <input type="text" placeholder="ICMS normal" name="icms_normal">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset id="fieldset-fisica" class="custom-fieldset">
                        <legend>Revenda</legend>
                        <div class="four fields">
                            <div class="field">
                                <label>Situação tributária:</label>
                                <input type="text" placeholder="Situação tributária" name="sit_tribut">
                            </div>
                            <div class="field">
                                <label>% ICMS normal:</label>
                                <input type="text" placeholder="ICMS normal" name="icms_normal">
                            </div>
                            <div class="field">
                                <label>ìndice de ICMS:</label>
                                <input type="text" placeholder="índice de ICMS" name="indice_icms">
                            </div>
                            <div class="field">
                                <label>% Substituição:</label>
                                <input type="text" placeholder="% Substituição" name="subst_icms">
                            </div>
                        </div>
                    </fieldset>
                    <div class="pt-10">
                    <div class="three fields">
                        <div class="field">
                            <label>IPI:</label>
                            <input type="text" placeholder="IPI" name="ipi">
                        </div>
                        <div class="field">
                            <label>CFOP:</label>
                            <input type="text" placeholder="CFOP" name="cfop">
                        </div>
                        <div class="field">
                            <label>Redução Base ICMS compra:</label>
                            <input type="text" placeholder="Redução Base ICMS compra" name="reduz_icms">
                        </div>
                    </div>
                    <div class="four fields">
                            <div class="field">
                                <label>CST entrada:</label>
                                <input type="text" placeholder="CST entrada" name="cst_entrada">
                            </div>
                            <div class="field">
                                <label>CST venda:</label>
                                <input type="text" placeholder="CST venda" name="cst_venda">
                            </div>
                            <div class="field">
                                <label>CST PIS COFINS:</label>
                                <input type="text" placeholder="CST PIS COFINS" name="cst_pis_cofins">
                            </div>
                            <div class="field">
                                <label>CST PIS COFINS Entrada:</label>
                                <input type="text" placeholder="CST PIS COFINS Entrada" name="cst_pis_cofins_entrada">
                            </div>
                        </div>
                </div>
                </div>
            </div>

            <!-- Linha Botões -->
            <div class="actions">
                <!-- <button id="button-deletefuncionario" type="button" class="ui negative button right floated disabled">
                    <i class="trash alternate icon"></i> Remover
                </button> -->
                <div class="ui buttons">
                    <button type="button" class="ui cancel button">Cancelar</button>
                    <div class="or" data-text="ou"></div>
                    <button id="button-saveproduto" type="button" class="ui primary button">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>