{% extends 'painel/index.html' %} {% block content_active %}

<table class="ui selectable single line table" id="table-produtos">
    <thead>
        <tr>
            <th class="two wide">
                <div class="ui ribbon label">CODIGO</div>
            </th>
            <th class="eight wide">Produto</th>
            <th class="three wide">Fabricante</th>
            <th class="three wide">Preço de Custo</th>
        </tr>
    </thead>
    <tbody>
        {% for produto in produtos %}
        <tr style="cursor: pointer;" data-id="{{produto.getCodigo()}}">
            <td>{{produto.getCodigo()}}</td>
            <td>{{produto.getDescricao()}}</td>
            <td>{{produto.getFabricante()}}</td>
            <td>R$ {{produto.getPcCusto()|number_format(2,',','.')}}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot class="full-width">
        <tr>
            <th colspan="4">
                <button id="button-addproduto" class="ui right floated small primary labeled icon button">
                    <i class="archive icon"></i> Novo produto
                </button>
            </th>
        </tr>
    </tfoot>
</table>
{% include 'produtos/cadastro.html' %} {% endblock %}