<div id="addUsuarioModal" class="ui modal">
    <i class="close icon"></i>
    <div class="header">Cadastrar usuário</div>
    <div class="content">
        <form id="form-adduser" class="ui large form">
            <div class="ui stacked segment">
                <h4 class="ui dividing header">Preencha os dados</h4>
                <div class="field">
                    <div class="ui fluid left icon input">
                        <i class="pencil alternate icon"></i>
                        <input type="text" placeholder="Nome" name="nome" autocomplete="off">
                    </div>
                    {{ showFlashMessages('nome', 'negative') | raw }}
                </div>
                <div class="field">
                    <div class="ui fluid left icon input">
                        <i class="user icon"></i>
                        <input type="text" placeholder="Login" name="login" autocomplete="off">
                    </div>
                    {{ showFlashMessages('login', 'negative') | raw }}
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" placeholder="Senha" name="senha">
                    </div>
                    {{ showFlashMessages('senha', 'negative') | raw }}
                </div>
                <div class="ui segment">
                    <div class="inline field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="master" value="1" tabindex="0" class="hidden">
                            <label>Usuário Administrador?</label>
                        </div>
                    </div>
                </div>
                <!-- <button class="ui large fluid teal button" type="submit">Cadastrar</button> -->
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui negative button">Cancelar</div>
        <div id="button-saveuser" class="ui positive button">Salvar</div>
    </div>
</div>