{% extends 'painel/index.html' %} {% block content_active %}

<table class="ui selectable single line table">
    <thead>
        <tr>
            <th>
                <div class="ui ribbon label">ID</div>
            </th>
            <th>Usuário</th>
            <th>Permissões</th>
            <th>Master</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.nome }}</td>
            <td>
                <a href="/permissoes/show/{{ usuario.id }}" class="ui labeled icon mini button">
                    <i class="lock icon"></i> Ver permissões
                </a>
            </td>
            <td>{{ usuario.master }}</td>
            <td>
                <div class="ui toggle checkbox">
                    {% if usuario.ativo == 1 %}
                    <input type="checkbox" name="master" value="1" tabindex="0" checked class="hidden">
                    <label>Ativo</label>
                    {% else %}
                    <input type="checkbox" name="master" value="1" tabindex="0" class="hidden">
                    <label>Inativo</label>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot class="full-width">
        <tr>
            <th></th>
            <th colspan="4">
                <button id="button-adduser" class="ui right floated small primary labeled icon button">
                    <i class="user icon"></i> Novo Usuário
                </button>
            </th>
        </tr>
    </tfoot>
</table>
{% include 'usuarios/cadastro.html' %} {% endblock %}