<div id="addParticipanteModal" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        <i class="id card icon"></i> Cadastrar participante
    </div>
    <div class="content">
        <form id="addParticipanteForm" class="ui large form">
            <div class="ui top attached tabular menu" id="menu-tabs-participante">
                <a class="item active" data-tab="tipo-participante">Dados Gerais</a>
                <a class="item" data-tab="endereco">Endereço</a>
                <a class="item" data-tab="contato">Contato</a>
            </div>
            <div class="ui bottom attached tab segment active p-10" data-tab="tipo-participante">
                <div class="ui segment" style="padding: 10px 10px 0px;">
                    <input type="hidden" name="id">
                    <div class="inline two fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <label>Pessoa física</label>
                                <input type="radio" name="tipo_pessoa" id="f" value="f" checked>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <label>Pessoa jurídica</label>
                                <input type="radio" name="tipo_pessoa" id="j" value="j">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Dados da Pessoa Física -->
                <fieldset id="fieldset-fisica" class="custom-fieldset">
                    <legend>Pessoa Física</legend>
                    <div class="field">
                        <div class="fields">
                            <div class="five wide field">
                                <!-- CPF do Participante -->
                                <label>CPF:</label>
                                <input type="number" placeholder="Informe o número do CPF" name="cpf">
                            </div>
                            <div class="eleven wide field">
                                <!-- Nome do Funcionário -->
                                <label>Nome:</label>
                                <input type="text" placeholder="Informe o nome do participante" name="nome_pessoa">
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <!-- Nome do Funcionário -->
                            <label>Apelido:</label>
                            <input type="text" placeholder="Informe um apelido" name="apelido">
                        </div>
                        <div class="field">
                            <!-- Data de Nascimento do Funcionário -->
                            <label>Data de Nascimento:</label>
                            <input type="date" name="data_nascimento">
                        </div>
                    </div>
                    <div class="four fields">
                        <div class="field">
                            <label>RG:</label>
                            <input type="number" placeholder="Informe o número do RG" name="numero_rg">
                        </div>
                        <div class="field">
                            <label>Data de Expedição:</label>
                            <input type="date" name="data_expedicao_rg">
                        </div>
                        <div class="field">
                            <label>Orgão emissor:</label>
                            <input type="text" placeholder="Digite o orgão emissor do RG" name="orgao_rg">
                        </div>
                        <div class="field">
                            <label>UF do RG:</label>
                            <div class="ui search selection dropdown" id="dropdown-rg">
                                <input type="hidden" name="uf_rg">
                                <div class="default text">Selecione a UF</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <!-- Os estados serão listados aqui através do JS -->
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <!-- CAMPOS RELACIONADOS A PESSOA JURÍDICA -->
                <fieldset id="fieldset-juridica" class="custom-fieldset" style="display: none">
                    <legend>Pessoa Jurídica</legend>
                    <div class="two fields">
                        <div class="field">
                            <label>Razão Social:</label>
                            <input type="text" name="razao_social" placeholder="Razão social">
                        </div>
                        <div class="field">
                            <label>Nome Fantasia:</label>
                            <input type="text" name="nome_fantasia" placeholder="Informe o nome fantasia">
                        </div>
                    </div>
                    <div class="four fields">
                        <div class="field">
                            <label>CNPJ:</label>
                            <input type="number" name="cnpj" placeholder="Informe o cnpj">
                        </div>
                        <div class="field">
                            <label>IE:</label>
                            <input type="number" name="ie" placeholder="Inscrição Estadual">
                        </div>
                        <div class="field">
                            <label>UF da IE:</label>
                            <div class="ui selection dropdown search" id="dropdown-ie">
                                <input type="hidden" name="uf_ie">
                                <div class="default text">Selecione a UF</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <!-- Os estados serão listados aqui, através do JS -->
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>IM:</label>
                            <input type="number" name="im" placeholder="Inscrição Municipal">
                        </div>
                    </div>
                    <div class="three fields">
                        <div class="field">
                            <label>CNAE:</label>
                            <input type="number" name="cnae" placeholder="Informe o cnae">
                        </div>
                        <div class="field">
                            <label>Código de Regime Tributário (CRT):</label>
                            <div class="ui fluid search selection dropdown" id="dropdown-crt">
                                <input type="hidden" name="crt">
                                <i class="dropdown icon"></i>
                                <div class="default text">Selecione uma opção</div>
                                <div class="menu">
                                    <div class="item" data-value="1">Simples Nacional</div>
                                    <div class="item" data-value="2">Simples Nacional (Excesso)</div>
                                    <div class="item" data-value="3">Regime Normal</div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Data de fundação</label>
                            <input type="date" name="data_fundacao">
                        </div>
                    </div>
                </fieldset>
            </div>

            <!-- CAMPOS RELACINADOS AO ENDEREÇO -->
            <div class="ui bottom attached tab segment" data-tab="endereco" style="min-height: 410px;">
                <div class="p-10">
                    <div class="two fields">
                        <div class="field">
                            <label>CEP:</label>
                            <input type="number" name="cep" placeholder="Informe o CEP">
                        </div>
                        <div class="field">
                            <label>País:</label>
                            <div class="ui fluid search selection dropdown" id="dropdown-pais">
                                <input type="hidden" name="pais">
                                <i class="dropdown icon"></i>
                                <div class="default text">Selecione o País</div>
                                <div class="menu">
                                    <div class="item" data-value="1058">Brasil</div>
                                    <div class="item" data-value="2453">Espanha</div>
                                    <div class="item" data-value="2496">Estados Unidos</div>
                                    <div class="item" data-value="0639">Argentina</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Estado:</label>
                            <div class="ui fluid search selection dropdown" id="dropdown-estado">
                                <input type="hidden" name="estado">
                                <i class="dropdown icon"></i>
                                <div class="default text">Selecione o Estado</div>
                                <div class="menu">
                                    <!-- Os estados serão listados aqui através do JS -->
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Cidade:</label>
                            <div class="ui fluid search selection dropdown" id="dropdown-cidade">
                                <input type="hidden" name="cidade">
                                <i class="dropdown icon"></i>
                                <div class="default text">Selecione a cidade</div>
                                <div class="menu">
                                    <!-- As cidades serão listadas aqui através do JS -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Bairro:</label>
                            <div class="ui fluid search" id="select-bairro">
                                <input class="prompt" type="text" name="nome_bairro" placeholder="Informe o bairro">
                            </div>
                            <div class="results"></div>
                        </div>
                        <div class="field">
                            <label>Logradouro:</label>
                            <input type="text" name="nome_rua" placeholder="Informe o endereço">
                        </div>
                    </div>
                    <div class="three fields">
                        <div class="field">
                            <label>Número:</label>
                            <input type="number" name="numero_casa" placeholder="Informe o número">
                        </div>
                        <div class="field">
                            <label>Complemento:</label>
                            <input type="text" name="complemento" placeholder="Complemento">
                        </div>
                        <div class="field">
                            <label>Ponto de referência:</label>
                            <input type="text" name="referencia" placeholder="Informe um ponto de referência">
                        </div>
                    </div>
                </div>
            </div>
            <!-- CAMPOS RELACIONADOS AO CONTATO -->
            <div class="ui bottom attached tab segment" data-tab="contato" style="min-height: 410px; max-height: 410px;">
                <div class="p-10">
                    <div id="field-container" class="three fields">
                        <div class="field">
                            <label>Tipo de contato:</label>
                            <div class="ui search selection dropdown" id="dropdown-tipo-contato">
                                <input type="hidden" name="tipo_contato">
                                <i class="dropdown icon"></i>
                                <div class="default text">Selecione o tipo de contato</div>
                                <div class="menu">
                                    <div class="item" data-value="E-mail">
                                        <i class="envelope icon"></i>E-mail</div>
                                    <div class="item" data-value="Fax">
                                        <i class="fax icon"></i>Fax</div>
                                    <div class="item" data-value="Rede Social">
                                        <i class="globe icon"></i>Rede Social</div>
                                    <div class="item" data-value="Telefone Celular">
                                        <i class="mobile alternate icon"></i>Telefone Celular</div>
                                    <div class="item" data-value="Telefone Fixo">
                                        <i class="phone icon"></i>Telefone Fixo</div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Categoria:</label>
                            <div class="ui search selection dropdown" id="dropdown-categoria-contato">
                                <input type="hidden" name="categoria">
                                <i class="dropdown icon"></i>
                                <div class="default text">Selecione uma categoria</div>
                                <div class="menu">
                                    <div class="item" data-value="Comercial">
                                        <i class="briefcase icon"></i>Comercial</div>
                                    <div class="item" data-value="Facebook">
                                        <i class="facebook f icon"></i>Facebook</div>
                                    <div class="item" data-value="Instagram">
                                        <i class="instagram icon"></i>Instagram</div>
                                    <div class="item" data-value="Pessoal">
                                        <i class="id card outline icon"></i>Pessoal</div>
                                    <div class="item" data-value="Profissional">
                                        <i class="building icon"></i>Profissional</div>
                                    <div class="item" data-value="Residencial">
                                        <i class="home icon"></i>Residencial</div>
                                    <div class="item" data-value="Twitter">
                                        <i class="twitter icon"></i>Twitter</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="fields">
                            <div class="twelve wide field">
                                <label>Observação:</label>
                                <input type="text" name="observacao">
                            </div>
                            <div style="margin-top: 23px">
                                <button class="ui right floated button primary" id="button-addcontato">Adicionar contato</button>
                            </div>
                        </div>
                    </div>
                    <h5 class="ui left floated header">Contatos</h5>
                    <div class="ui clearing divider"></div>
                    <table class="ui blue selectable single line table small compact" id="table-contatos">
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Valor</th>
                                <th>Categoria</th>
                                <th>Observações</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="actions">
                <button id="button-deleteparticipante" type="button" class="ui negative button right floated disabled">
                    <i class="trash alternate icon"></i> Remover
                </button>
                <div class="ui buttons">
                    <button type="button" class="ui cancel button">Cancelar</button>
                    <div class="or" data-text="ou"></div>
                    <button id="button-saveparticipante" type="button" class="ui primary button">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>