{% extends 'layout.html' %} {% block content %}
<div class="ui top attached demo menu">
    <a class="item" id="sidebar-trigger">
        <i class="sidebar icon"></i> Menu
    </a>
    <a class="item">
        <i class="user icon"></i> {{ userSession().nome }}
    </a>
    <a href="/login/destroy" class="item right">
        <i class="sign out alternate icon"></i> Sair
    </a>
</div>
<div class="ui bottom attached segment" style="margin-bottom: 0;">
    <div class="ui inverted labeled icon left inline vertical sidebar menu">
        <a class="item {{class_home_selected}}" href="/painel">
            <i class="home icon"></i> Início
        </a>
        <div class="ui dropdown item">
            <i class="plus icon"></i> Cadastros
            <div class="menu">
                <a class="item {{class_participantes_selected}}" href="/participantes">
                    <i class="id card icon"></i> Participantes
                </a>
                <a class="item {{class_produtos_selected}}" href="/produtos">
                    <i class="archive icon"></i> Produtos
                </a>
            </div>
        </div>
        <div class="ui dropdown item">
            <i class="book icon"></i> Operações
            <div class="menu">
                <a class="item">
                    <i class="gavel icon"></i> Vendas
                </a>
                <a class="item" href="/compras">
                    <i class="book icon"></i> Compras
                </a>
                <a class="item">
                    <i class="money bill alternate outline icon"></i> Finanças
                </a>
            </div>
        </div>
        <!-- <a class="item {{class_produtos_selected}}" href="/produtos">
            <i class="archive icon"></i> Produtos
        </a>
        <a class="item {{class_usuarios_selected}}" href="/usuarios">
            <i class="user plus icon"></i> Usuários
        </a>
        <a class="item {{class_participantes_selected}}" href="/participantes">
            <i class="id card icon"></i> Participantes
        </a> -->
        <a class="item">
            <i class="list alternate outline icon"></i> Relatórios
        </a>
        <a class="item">
            <i class="wrench icon"></i> Utilitários
        </a>
        <a class="item">
            <i class="cog icon"></i> Configurações
        </a>
    </div>
    <div class="pusher">
        <div class="ui basic segment">
            <h3 class="ui header">
                {{ title_menu_selected }}
                <div class="sub header">{{ subtitle_menu_selected }}</div>
            </h3>
            <div class="ui container">
                {% block content_active %} {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}